<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nekotori.mapper.ArticleTagDOMapper">
  <resultMap id="BaseResultMap" type="com.nekotori.entity.DO.ArticleTagDO">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <insert id="insert" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag (article_id, tag_id)
    values (#{articleId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.nekotori.entity.DO.ArticleTagDO">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <insert id="insert" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag (article_id, tag_id)
    values (#{articleId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.nekotori.entity.DO.ArticleTagDO">
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="tag_id" jdbcType="INTEGER" property="tagId" />
  </resultMap>
  <insert id="insert" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag (article_id, tag_id)
    values (#{articleId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nekotori.entity.DO.ArticleTagDO">
    insert into me_article_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        article_id,
      </if>
      <if test="tagId != null">
        tag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>